@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

.embrulho {
    width: 1120px;
    margin: 0 auto;
}

header {
    background-color: #3C184E;
    padding: 10px 0;
}

header > div {
    display: flex;
    color: #fff;
}
 
header > div > h3{
    font-family: 'Rubik', sans-serif;
    margin-left: 8px;
}

#banner {
    background-color:#E5E5E5;
    padding: 64px 0px; 
    
}
h1{
    font-family: 'Merriweather', serif;
    font-size: 64px;
    color: #3C184E;
}

#banner > div > p {
    font-family: 'Rubik', sans-serif;
    color:#3C184E ;
    font-size: 16px;
    margin: 20px 0 40px;
}

#botao_clique_aqui {
    font-family: 'Rubik', sans-serif;
    color: #E5E5E5;
    background-color: #713FFF;
    padding: 12px 32px;
    border-radius: 40px;
    display: block;
    width: 150px;
}

#botao_clique_aqui:hover {
    color:#fff;
    background-color: #3c8b3c;
}

#secao1 {
    color: #fff;
    background-color: #713FFF;
    padding: 64px 0 0.1px;
}

.titulo_secao {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    margin-bottom: 32px;
}

.artigo {
    background-color: #3C184E;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 64px;
}
.artigo > h3{
    font-family: 'Merriweather', serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.artigo > p {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

footer {
    text-align: center;
    background-color: #3C184E;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    padding: 6px 0;
    color: #fff;
}
